{
  "mapping": "mapping.csv",
  "data": ["data"],
  "videos":"videos",
  "always_analyse": true,
  "min_confidence": 0.0,
  "countries_analyse": [],
  "vehicles_analyse": [0],
  "DOWNLOAD_AND_ANNOTATE": true,
  "KEEP_TRIMMED_CLIP": false,
  "ANNOTATE_ALL_BICYCLISTS": true,
  "ANNOTATE_PAIR_OVERLAY": true,
  "CROP_AROUND_FOLLOWING": true,
  "CROP_PRE_SECONDS": 5,
  "CROP_POST_GONE_SECONDS": 6,
  "ALSO_WRITE_FULL_SEGMENT_WHEN_CROPPING": false,
  "ANNOTATE_WHOLE_SEGMENT": false,
  "DELETE_DOWNLOADED_VIDEO_ON_COMPLETE":true,
  "logger_level": "info",
  "font_family": "Libertine",
  "font_size": 18,
  "plotly_template": "plotly_white",
  "ftp_server": "https://files.mobility-squad.com/"
}
